<div class="row">
<div class="col-md-10 offset-md-1">
<table class="table table-dark">
<tr><th>全ユーザー<%= User.all.count %>人の平均感情スコア</th></tr>
<tr><th><%= @score_average %></th></tr>
</table>

<table class="table table-dark">
	<tr><th>ユーザー</th><th>スコア</th></tr>
<% @users.each_with_index do |user, i| %>
<tr><td><%= i+1 %>位 <%= user.nickname %> <%= link_to user.name, user_path(user), class:"font-weight-bold align-middle" %></td><td><%= user.score_average.round %></td></tr>
<% end %>
</table></div></div>

