<div class="row">
<%= form_for(@user) do |f| %>
    <div class="card"><div class="card-header">
	<h2>ユーザー情報編集</h2></div>
    <div class="card-body">
    <Label>ユーザー名</Label>
        <%= f.text_field :name, autofocus: true, class:"form-control", id:"inputUser", placeholder:"ユーザー名"%>
    <Label>ニックネーム</Label>
    	<%= f.text_field :nickname, autofocus: true, class:"form-control", id:"inputNickname", placeholder:"ニックネーム"%>
    <label>プロフィール画像</label><br>
    <%= f.attachment_field :image, placeholder: "プロフィール画像", class: "user-edit-form" %><br>
    <label>メールアドレス</label>
        <%= f.email_field :email, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"メールアドレス"%>
        <%= link_to "戻る", settings_path, class:"btn btn-danger rounded-pill" %>
        <%= f.submit "更新する", class:"btn btn-primary rounded-pill" %>
    </div>
<% end %>
</div>