<div class="row align-middle">
	<div class="col-6">
		<div class="card card-body">
		<h4><%= attachment_image_tag @user, :image, :fill, 80, 80, format: 'jpeg', class: "rounded-circle img-thumbnail", fallback: "no_image.jpg", size:'80x80' %><%= @user.nickname %>さんの感情分析</h4></div><br>
		<div class="card card-body"><h3><%= @user.nickname %>さんの平均感情スコア</h3>
			<span class="align-middle h4">
				<% if @user.score_privacy_userpage %>
					非公開になっています<i class="fas fa-lock"></i>
				<% else %>
					<%= @user.score_average.round %>
				<% end %></span></div>
		<div class="card card-body"><h3><%= @user.nickname %>さんの1週間感情移行</h3>
			<% if @user.score_privacy_userpage %>
				<span class="align-middle h4">非公開になっています<i class="fas fa-lock"></i></span>
			<% else %>
		<div class="bg-transparent bg-dark"><%= line_chart @graph, min: 0, max: 100, download: {background: "#ffffff"} %></div>
			<% end %>

	</div>
		<div class="card">
			<% if @most_positive.blank? %>
			このユーザーのツイートは見つかりませんでした
			<% else %>
  <div class="card-header bg-info"><%= @user.nickname %>さんの今月もっともポジティブだったつぶやき</div><br>
  <div class="card-body">
  <h4><%= @most_positive.body %></h4><br>
  <div class="progress">
  	
  	<% if @most_positive.score < 20 %>
	<div class="progress-bar" role="progressbar" style="width: <%= @most_positive.score %>%;"></div>
	<% elsif 40 > @most_positive.score && @most_positive.score >= 20 %>
	<div class="progress-bar bg-danger" role="progressbar" style="width: <%= @most_positive.score %>%;"></div>
	<% elsif 60 > @most_positive.score && @most_positive.score >= 40 %>
	<div class="progress-bar bg-warning" role="progressbar" style="width: <%= @most_positive.score %>%;"></div>
	<% elsif 80 > @most_positive.score && @most_positive.score >= 60 %>
	<div class="progress-bar bg-info" role="progressbar" style="width: <%= @most_positive.score %>%;"></div>
	<% elsif 100 >= @most_positive.score && @most_positive.score >= 80 %>
	<div class="progress-bar bg-success" role="progressbar" style="width: <%= @most_positive.score %>%;"></div>
	<% end %>
	</div>
	</div>
		<span class="sr-only"></span>
		<% end %>
  </div>

		<div class="card">
			<% if @most_negative.blank? %>
			このユーザーのツイートは見つかりませんでした
			<% else %>
  <div class="card-header bg-danger"><%= @user.nickname %>さんの今月もっともネガティブだったつぶやき</div><br>
  <div class="card-body">
  <h4><%= @most_negative.body %></h4><br>
  <div class="progress">
  	
  	<% if @most_negative.score < 20 %>
	<div class="progress-bar" role="progressbar" style="width: <%= @most_negative.score %>%;"></div>
	<% elsif 40 > @most_negative.score && @most_negative.score >= 20 %>
	<div class="progress-bar bg-danger" role="progressbar" style="width: <%= @most_negative.score %>%;"></div>
	<% elsif 60 > @most_negative.score && @most_negative.score >= 40 %>
	<div class="progress-bar bg-warning" role="progressbar" style="width: <%= @most_negative.score %>%;"></div>
	<% elsif 80 > @most_negative.score && @most_negative.score >= 60 %>
	<div class="progress-bar bg-info" role="progressbar" style="width: <%= @most_negative.score %>%;"></div>
	<% elsif 100 >= @most_negative.score && @most_negative.score >= 80 %>
	<div class="progress-bar bg-success" role="progressbar" style="width: <%= @most_negative.score %>%;"></div>
	<% end %>
	</div>
	</div>
		<span class="sr-only"></span>
		<% end %>
  </div>

	</div>
	<div class="col-6">
<div class="card card-body"><h2 class="text-center"><%= @user.nickname %>さんのつぶやき</h2></div>
	<div id="follow_button_<%= @user.id %>"><%= render partial: 'layouts/follow_button', locals: { user: @user } %></div>
	<% if @tweets.blank? %>
	このユーザーのツイートはありません
	<% else %> 
<% @tweets.each do |tweet| %>
<div class="card">
  <div class="card-body">
  <h4><%= tweet.body %></h4><br>
  <div class="progress">
  	
  	<% if tweet.score < 20 %>
	<div class="progress-bar" role="progressbar" style="width: <%= tweet.score %>%;"></div>
	<% elsif 40 > tweet.score && tweet.score >= 20 %>
	<div class="progress-bar bg-danger" role="progressbar" style="width: <%= tweet.score %>%;"></div>
	<% elsif 60 > tweet.score && tweet.score >= 40 %>
	<div class="progress-bar bg-warning" role="progressbar" style="width: <%= tweet.score %>%;"></div>
	<% elsif 80 > tweet.score && tweet.score >= 60 %>
	<div class="progress-bar bg-info" role="progressbar" style="width: <%= tweet.score %>%;"></div>
	<% elsif 100 >= tweet.score && tweet.score >= 80 %>
	<div class="progress-bar bg-success" role="progressbar" style="width: <%= tweet.score %>%;"></div>
	<% end %>
	</div>
	</div>
		<span class="sr-only"></span>
  	</div>
<% end %>
<% end %> 
</div>
</div>