<%= form_for newtweet, remote: true do |f| %>
  <div class="form-group row">
    <%= f.text_field :body, :placeholder => 'ツイート内容を入力', class:'col-xs-12 form-control' %>
  </div>
  <div class="actions row">
    <%= f.submit 'ツイート', class:'btn btn-primary col-xs-12' %>
  </div>
<% end %><br>
<% tweets.each do |tweet| %>
<div class="card">
  <div class="card-header"><%= attachment_image_tag tweet.user, :image, :fill, 40, 40, format: 'jpeg', class: "img-circle pull-left profile-img tableimage", fallback: "no_image.jpg", size:'40x40' %><%= link_to tweet.user.name, user_path(tweet.user) %></div><br>
  <div class="card-body">
  <h4><%= tweet.body %></h4><br>
  <h5>センチメンタルスコア <%= tweet.score %> <%= tweet.sentiment %></h5>
  <div class="row">
  <label class="col-4">Negative</label><label class="col-4 text-xs-center">Neutral</label><label class="col-4 text-xs-right">Positive</label><br></div>
  <div class="progress">
  	
  	<% if tweet.score < 20 %>
	<div class="progress-bar" role="progressbar" style="width: <%= tweet.score %>%;"></div>
	<% elsif 40 > tweet.score && tweet.score >= 20 %>
	<div class="progress-bar bg-danger" role="progressbar" style="width: <%= tweet.score %>%;"></div>
	<% elsif 60 > tweet.score && tweet.score >= 40 %>
	<div class="progress-bar bg-warning" role="progressbar" style="width: <%= tweet.score %>%;"></div>
	<% elsif 80 > tweet.score && tweet.score >= 60 %>
	<div class="progress-bar bg-info" role="progressbar" style="width: <%= tweet.score %>%;"></div>
	<% elsif 100 >= tweet.score && tweet.score >= 80 %>
	<div class="progress-bar bg-success" role="progressbar" style="width: <%= tweet.score %>%;"></div>
	<% end %>
	</div>
	</div>
		<span class="sr-only"></span>
  </div>
<% end %>
