<!DOCTYPE html>
<html>
  <head>
    <title>Pikatter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <script src="https://kit.fontawesome.com/1b7a645abd.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= stylesheet_link_tag    'jquery.range.css' %>
    <%= javascript_include_tag "jquery.range.js" %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bs-navbar bg-primary">
    <a class="navbar-brand mr-0 mr-md-2"><%= link_to 'Pikatter', root_path, class: 'nav-link' %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar" aria-controls="Navbar" aria-expanded="false" aria-label="レスポンシブ・ナビゲーションバー"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="Navbar">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
        <li class="nav-item"><a class="nav-link" href="/users/<%= current_user.name %>">マイページ</a></li>
        <% end %>
        <li class="nav-item"><a class="nav-link" href="/rankings">ランキング</a></li>
        <% if user_signed_in? %>
        <li class="nav-item icon-stack"><a class="nav-link" href="/notifications" style="position: relative">通知<% unless notification_check %><i class="fas fa-circle n-circle"></i><% end %></a></li>
        <li class="nav-item"><%= link_to 'logout', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
        <% else %>
        <li class="nav-item"><%= link_to 'login', new_user_session_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
      <ul class="navbar-nav mr-lg-2">
        <% if user_signed_in? %>
          <li class="nav-item"><%= link_to '設定', settings_path, class: 'nav-link' %></li>
        <% end %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="languages" aria-haspopup="true" aria-expanded="false">日本語</a>
          <div class="dropdown-menu" aria-labelledby="languages">
            <a class="dropdown-item" href="#">#多言語導入予定</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
        <div class="container">
    <%= yield %>
        </div>
  </body>
</html>